.green {
  background-color: rgba(74, 226, 74, 0.2);

  h3, h5, p {
    color: green;
  }

}
.red {
  background-color: rgba(226, 74, 74, 0.2);

  h3, h5, p {
    color: red;
  }
}
.grey {
  background-color: rgba(88, 88, 88, 0.2);
}
